@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter Tight", sans-serif;
}

.swiper {
    width: 100%;
    max-width: 707px;
    max-height: 707px;
    margin: 0 auto;
}

.swiper-pagination {
    display: flex !important;
    gap: 10px !important;
    justify-content: center !important;
    bottom: 10px !important;
}

.swiper-pagination-bullet {
    max-width: 212px !important;
    width: 100% !important;
    height: 6px !important;
    border-radius: 32px !important;
    background: white !important;
    overflow: hidden;
    position: relative;
}

.swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: red !important;
    border-radius: 10px;
    animation: progress 3s linear forwards;
}

@keyframes progress {
    from {
        width: 0%;

    }

    to {
        width: 100%;
    }

}